<div class="dapp-content">
    <div class="dapp-container">
        <h1>contract</h1>
        <!--<script type="text/ng-template" id="myModelContent.html">
        
        </script>-->
        <div class="container h1">AngularJS 模态对话框</div>
        <section class="row">
            <section ng-controller="modalDemo" class="col-md-6" style="margin: 40px auto; float: none; background: #fff; padding: 30px;">
                <button class="btn btn-default" ng-click="open('lg')">大模态</button>
                <button class="btn btn-default" ng-click="open()">中模态</button>
                <button class="btn btn-default" ng-click="open('sm')">小模态</button>
                <hr>
                <div class="h1" ng-show="selected">当前选择：{{selected}}</div>
            </section>
        </section>
    </div>
</div>