<style>
nav{
    height: 15px;
    width: 100%;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    cursor: pointer
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0
}
nav .first-menu>li{
    position: relative;
    float: left;
    margin-left: 20px;
}
nav .first-menu>li:first-child{
    position: relative;
    float: left;
    margin-left: 10px;
}
nav .second-menu>li{
    position: relative;
    float: none;
    margin-left: 0;
    padding: 5px 10px;
    text-align: center
}
nav .second-menu{
    border: 1px solid #dbdbdb;
}
nav .divider{
    height: 1px;
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
    background-color: #dbdbdb;
}
</style>
<nav>
    <ul class="first-menu">
        <li>
            <div>Light Wallet</div>
            <ul class="second-menu ng-hide">
                <li>退出Light Wallet</li>
            </ul>
        </li>
        <li>
            <div>账户</div>
            <ul class="second-menu ng-hide">
                <li>新增账户</li>
                <li>导入账户</li>
                <li class="divider"></li>
                <li>备份</li>
            </ul>
        </li>
        <li>编辑</li>
        <li>视图</li>
        <li>开发</li>
        <li>窗口</li>
        <li>帮助</li>
    </ul>
</nav>