<div class="dapp-content">
    <div class="dapp-container">
        <h1><strong>Accounts</strong> Overview</h1>
        <h2>Accounts</h2>
        <p>
            Accounts are password protected keys that can hold ether, secure ethereum-based tokens or coins and control contracts. Accounts can't display incoming transactions.
        </p>
        <div class="dapp-clear-fix"></div>
        <div class="wallet-box-list" ng-controller="ctrl-wallet">
            <a href="javascript:void(0)" class="wallet-box">
                <!-- <div class="account-pattern"> -->
                <span class="dapp-identicon dapp-small" ico-pixel>
                </span>
                <!-- </div> -->
                <ul class="token-list"></ul>
                <h3>
                    <i class="icon-key" title="Account"></i> Account 2
                </h3>
                <span class="account-balance">0.00<span>ether</span></span>
                <span class="account-id">{{account_hash}}</span>
            </a>
        </div>
        <button class="wallet-box create account">
            <div class="account-pattern">+</div>
            <h3>Add Account</h3>
        </button>
        <h2>Wallet contracts</h2>
        <p>
            Once you have more than 1 ether you can create more sophisticated contracts. Wallets are one type of basic smart contract, that allows your funds to be controlled by multiple accounts and have an optional daily limit on withdrawals, to increase security.
            To create your own custom contracts go to the <em>Contracts</em> tab.
        </p>
        <div class="wallet-box-list"></div>
        <div class="dapp-clear-fix"></div>
        <h2>No transactions yet</h2>
    </div>
</div>